<div class="jumbotron">
  <div class="container">
    <h1>Some Page</h1>
    <p>
      This is a page I wanted to make but am too lazy to add any content to.
    </p>
    <p>
      This one is for the about page.
    </p>
  </div>
</div>
