<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myLargeModalLabel" class="modal-title">{{name}}</h4>
    </div>
    <div class="modal-body">
      <p>{{{bbcode description}}}</p>

      <p>
        You will be able to sign up for the project, edit the project, view
        who is signed up, or do whatever else you want from this screen.
      </p>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
