<li><a href="#calendar">Calendar</a></li>
<li><a href="#p/about">About</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leadership <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#p/leadership/committees">Committees</a></li>
    <li><a href="#p/leadership/chairs">Chairs</a></li>
    <li><a href="#p/leadership/meet-chairs">Meet the Chairs</a></li>
    <li><a href="#p/leadership/exec-board">Executive Board</a></li>
  </ul>
</li>
<li><a href="#join">Join Now!</a></li>
<li><a href="#p/houses">House Competition</a></li>
<li><a href="#p/ltvp">LTVP</a></li>
