<div class="jumbotron">
  <div class="container">
    <h1>Circle K at UofM</h1>
    <p>
      Someone should really get around to turning this into a real page...
    </p>
    {{#if me}}
      <p>
        You are logged in as {{me.first_name}} {{me.last_name}}.
      </p>
    {{/if}}
  </div>
</div>
