<div class="jumbotron">
  <div class="container">
    <h1>Page not found</h1>
    <p>
      We are very sorry, we could not find the page you were looking for.
      Don't worry, we've already dispatched some minions (i.e. committee members)
      to try to figure out what the problem is.
    </p>
  </div>
</div>
